<p id="notice"><%= notice %></p>

<h1>Listing Stinsfos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stinsfos.each do |stinsfo| %>
      <tr>
        <td><%= stinsfo.name %></td>
        <td><%= stinsfo.place %></td>
        <td><%= link_to 'Show', stinsfo %></td>
        <td><%= link_to 'Edit', edit_stinsfo_path(stinsfo) %></td>
        <td><%= link_to 'Destroy', stinsfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stinsfo', new_stinsfo_path %>
