<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stinsfo.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @stinsfo.place %>
</p>

<%= link_to 'Edit', edit_stinsfo_path(@stinsfo) %> |
<%= link_to 'Back', stinsfos_path %>
